<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  <environments default="development">
    <environment id="development">
      <transactionManager type="JDBC"/>
      <dataSource type="POOLED">
        <property name="driver" value="com.mysql.jdbc.Driver"/>
        
    <!--     <property name="url" value="jdbc:mysql://112.74.133.11:3306/uto"/>
        <property name="username" value="root"/>
        <property name="password" value="dE3ewRuJuba=ED-wudupUbaFEc5EMAfa"/> -->
        
        <property name="url" value="jdbc:mysql://rm-bp1m40gz1c918982ho.mysql.rds.aliyuncs.com:3306/uto"/>
        <property name="username" value="uto_car"/>
        <property name="password" value="vWl4JiKcRCGs4aK6TLS6lgKeHhBGwBrl"/>
      </dataSource>
    </environment>
  </environments>
  
  <mappers>
  	<package name="net.xinqushi.orm.mapper"/>
  </mappers>
</configuration>